---
layout: default
---

<script>
        $(document).ready(function(){
            $('#typewriteText').typewrite({
                actions: [
                    {type: 'Hello, I’m Jason Khadka, data scientist based in Berlin.'}
                ]
            });
        });
    </script>


<div class="col-lg-8 offset-md-2">
  <div class="jumbotron" style="text-align: center;">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead" id="typewriteText"></p>
    <a href="/about.html"  class="btn btn-primary btn-lg">About me</a>
    <!--<button class="btn btn-dark btn-lg"><a href="/about.html">About me </a></button>-->
  </div>
</div>
